In [2]:
# Importar librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# Importar datos de rendimiento
r2018 = pd.read_csv('data/rendimiento/2018/r2018.csv', sep=';')
r2019 = pd.read_csv('data/rendimiento/2019/r2019.csv', sep=';')

/var/folders/v5/8__wxdkj3j713bygpr1tsw_80000gn/T/ipykernel_3150/3288260513.py:2: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  r2018 = pd.read_csv('data/rendimiento/2018/r2018.csv', sep=';')
/var/folders/v5/8__wxdkj3j713bygpr1tsw_80000gn/T/ipykernel_3150/3288260513.py:3: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  r2019 = pd.read_csv('data/rendimiento/2019/r2019.csv', sep=';')

In [5]:
# Función de tablas combinadas con variable DESERTOR

def desertores(df_anterior, df_posterior):
    # Filtrar los estudiantes que no son prebásica o de educación para adultos
    desertores = df_anterior[(~df_anterior['COD_ENSE2'].isin([1, 3, 4, 6, 8]))]
    # print("Estudiantes regulares sin prebasica y adultos año anterior",desertores.shape)


    # Filtrar los estudiantes que no asisten a 4to medio el año a analizar
    desertores = desertores[~((desertores['COD_GRADO'] == 4) & (df_anterior['COD_ENSE2'].isin([5, 7])))]
    # print("Desertores sin 4to medio año anterior", desertores.shape)

    # Filtrar a los estudiantes df_posterior que no están en 'COD_ENSE2' 1, 3, 4, 6 y 8
    df_posterior = df_posterior[(~df_posterior['COD_ENSE2'].isin([1, 3, 4, 6, 8]))]
    # print("Estudiantes sistema regular año posterior",df_posterior.shape)

    # Verificar si los estudiantes están presentes en el archivo actual
    desertores = desertores[~desertores['MRUN'].isin(df_posterior['MRUN'].unique())]
    # print("Desertores año a analizar", desertores.shape)
    
    # Estudiantes que se mantienen en el sistema regular
    estudiantes_regulares = df_posterior[df_posterior['MRUN'].isin(df_anterior['MRUN'].unique())]
    # print("Estudiantes regulares año a analizar", estudiantes_regulares.shape)

    # Nueva columna que indica si el estudiante es desertor o no
    desertores['DESERTOR'] = 1
    estudiantes_regulares['DESERTOR'] = 0

    # Eliminar registros con valores ' ' en EDAD_ALU en df_anterior
    desertores = desertores[desertores['EDAD_ALU'] != ' ']
    estudiantes_regulares = estudiantes_regulares[estudiantes_regulares['EDAD_ALU'] != ' ']

    # Convertir EDAD_ALU a int
    desertores['EDAD_ALU'] = desertores['EDAD_ALU'].astype(int)
    estudiantes_regulares['EDAD_ALU'] = estudiantes_regulares['EDAD_ALU'].astype(int)

    # Combinar los dataframes de desertores y estudiantes regulares
    df_combinado = pd.concat([desertores, estudiantes_regulares])

    
    # Año de df_anterior
    year = str(df_anterior['AGNO'].unique()[0])

    # Exportar en carpeta data/tablas el dataframe combinado a csv identificando el AGNO del df_anterior con separador ;
    df_combinado.to_csv('data/tablas/combinado' + year + '.csv', sep=';')

In [6]:
desertores(r2018, r2019)

/var/folders/v5/8__wxdkj3j713bygpr1tsw_80000gn/T/ipykernel_3150/283906077.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  desertores = desertores[~((desertores['COD_GRADO'] == 4) & (df_anterior['COD_ENSE2'].isin([5, 7])))]
/var/folders/v5/8__wxdkj3j713bygpr1tsw_80000gn/T/ipykernel_3150/283906077.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  estudiantes_regulares['DESERTOR'] = 0

In [7]:
# Importar datos de tablas combinadas y cluster kprototypes
combinado2018 = pd.read_csv('data/tablas/combinado2018.csv', sep=';')
clusters = pd.read_csv('data/tablas/dfCLUSTERS2018.csv', sep=';')

In [8]:
# valores nulos combinado2018
combinado2018.isnull().sum()

Unnamed: 0            0
AGNO                  0
RBD                   0
DGV_RBD               0
NOM_RBD               0
COD_REG_RBD           0
NOM_REG_RBD_A         0
COD_PRO_RBD           0
COD_COM_RBD           0
NOM_COM_RBD           0
COD_DEPROV_RBD        0
NOM_DEPROV_RBD        0
COD_DEPE              0
COD_DEPE2             0
RURAL_RBD             0
ESTADO_ESTAB          0
COD_ENSE              0
COD_ENSE2             0
COD_GRADO             0
LET_CUR               0
COD_JOR               0
COD_TIP_CUR           0
COD_DES_CUR           0
MRUN                  0
GEN_ALU               0
FEC_NAC_ALU           0
EDAD_ALU              0
COD_REG_ALU           0
COD_COM_ALU           0
NOM_COM_ALU           0
COD_RAMA              0
COD_SEC               0
COD_ESPE              0
PROM_GRAL             0
ASISTENCIA            0
SIT_FIN               0
SIT_FIN_R             0
DESERTOR              0
COD_MEN           79315
dtype: int64

In [9]:
# Valores null en cluster
clusters.isnull().sum()

Unnamed: 0        0
AGNO              0
RBD               0
DGV_RBD           0
COD_REG_RBD       0
COD_PRO_RBD       0
COD_COM_RBD       0
COD_DEPROV_RBD    0
COD_DEPE          0
COD_DEPE2         0
RURAL_RBD         0
ESTADO_ESTAB      0
COD_ENSE          0
COD_ENSE2         0
COD_GRADO         0
COD_JOR           0
COD_TIP_CUR       0
COD_DES_CUR       0
MRUN              0
GEN_ALU           0
FEC_NAC_ALU       0
EDAD_ALU          0
COD_REG_ALU       0
COD_COM_ALU       0
COD_RAMA          0
COD_SEC           0
COD_ESPE          0
PROM_GRAL         0
ASISTENCIA        0
SIT_FIN_          0
SIT_FIN_P         0
SIT_FIN_R         0
SIT_FIN_Y         0
SIT_FIN_R_        0
SIT_FIN_R_P       0
SIT_FIN_R_R       0
SIT_FIN_R_T       0
SIT_FIN_R_Y       0
Cluster           0
dtype: int64

In [10]:
# Head combinado2018
combinado2018.head()

,Unnamed: 0,AGNO,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,NOM_COM_ALU,COD_RAMA,COD_SEC,COD_ESPE,PROM_GRAL,ASISTENCIA,SIT_FIN,SIT_FIN_R,DESERTOR,COD_MEN
0,25,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,ARICA,0,0,0,"4,3",76,R,R,1,NaN
1,26,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,ARICA,0,0,0,0,0,Y,T,1,NaN
2,56,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,ARICA,0,0,0,0,0,Y,T,1,NaN
3,59,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,POZO ALMONTE,0,0,0,0,0,Y,Y,1,NaN
4,61,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,ARICA,0,0,0,0,0,Y,Y,1,NaN

In [11]:
# Head clusters
clusters.head()

,Unnamed: 0,AGNO,RBD,DGV_RBD,COD_REG_RBD,COD_PRO_RBD,COD_COM_RBD,COD_DEPROV_RBD,COD_DEPE,COD_DEPE2,...,SIT_FIN_,SIT_FIN_P,SIT_FIN_R,SIT_FIN_Y,SIT_FIN_R_,SIT_FIN_R_P,SIT_FIN_R_R,SIT_FIN_R_T,SIT_FIN_R_Y,Cluster
0,0,2018,1,9,15,151,15101,151,2,1,...,False,False,True,False,False,False,True,False,False,1
1,1,2018,1,9,15,151,15101,151,2,1,...,False,False,False,True,False,False,False,True,False,1
2,2,2018,1,9,15,151,15101,151,2,1,...,False,False,False,True,False,False,False,True,False,1
3,3,2018,1,9,15,151,15101,151,2,1,...,False,False,False,True,False,False,False,False,True,1
4,4,2018,1,9,15,151,15101,151,2,1,...,False,False,False,True,False,False,False,False,True,2

In [12]:
# Valores unicos en Desertor
combinado2018['DESERTOR'].unique()

array([1, 0])

In [14]:
# Cantidad de valores nulos en COD_MEN para DESERTOR = 1 en combinados2018
# Filtrar para 'DESERTOR' = 1
desertores = combinado2018[combinado2018['DESERTOR'] == 1]

# Identificar los valores nulos en 'COD_MEN' y contarlos
num_nulls = desertores['COD_MEN'].isnull().sum()

print(num_nulls)

79315

In [17]:
# Contar desertores
desertores['DESERTOR'].value_counts()

DESERTOR
1    79315
Name: count, dtype: int64

In [16]:
# Ahora lo mismo con los estudiantes regulares
# Filtrar para 'DESERTOR' = 0
regulares = combinado2018[combinado2018['DESERTOR'] == 0]

# Identificar los valores nulos en 'COD_MEN' y contarlos
num_nulls_reg = regulares['COD_MEN'].isnull().sum()

print(num_nulls_reg)

0

In [18]:
# Contar regulares
regulares['DESERTOR'].value_counts()

DESERTOR
0    2813885
Name: count, dtype: int64

In [19]:
# Combinar 'combinado2018' y 'clusters' en base a 'MRUN'
combined = combinado2018.merge(clusters, on='MRUN', how='left')

# Ahora puedes trabajar con el dataframe 'combined' que contiene la información combinada
print(combined)

         Unnamed: 0_x  AGNO_x  RBD_x  DGV_RBD_x  \
0                  25    2018      1          9
1                  26    2018      1          9
2                  56    2018      1          9
3                  59    2018      1          9
4                  61    2018      1          9
...               ...     ...    ...        ...
3270615       3328911    2019  41421          2
3270616       3328911    2019  41421          2
3270617       3328912    2019  41421          2
3270618       3328913    2019  41421          2
3270619       3328914    2019  41421          2

                               NOM_RBD  COD_REG_RBD_x NOM_REG_RBD_A  \
0              LICEO POLITECNICO ARICA             15           AYP
1              LICEO POLITECNICO ARICA             15           AYP
2              LICEO POLITECNICO ARICA             15           AYP
3              LICEO POLITECNICO ARICA             15           AYP
4              LICEO POLITECNICO ARICA             15           AYP
...                                ...            ...           ...
3270615  INSTITUTO PREMILITAR DE CHILE             13            RM
3270616  INSTITUTO PREMILITAR DE CHILE             13            RM
3270617  INSTITUTO PREMILITAR DE CHILE             13            RM
3270618  INSTITUTO PREMILITAR DE CHILE             13            RM
3270619  INSTITUTO PREMILITAR DE CHILE             13            RM

         COD_PRO_RBD_x  COD_COM_RBD_x    NOM_COM_RBD  ...  SIT_FIN_   \
0                  151          15101          ARICA  ...      False
1                  151          15101          ARICA  ...      False
2                  151          15101          ARICA  ...      False
3                  151          15101          ARICA  ...      False
4                  151          15101          ARICA  ...      False
...                ...            ...            ...  ...        ...
3270615            136          13604  PADRE HURTADO  ...      False
3270616            136          13604  PADRE HURTADO  ...      False
3270617            136          13604  PADRE HURTADO  ...      False
3270618            136          13604  PADRE HURTADO  ...      False
3270619            136          13604  PADRE HURTADO  ...      False

        SIT_FIN_P  SIT_FIN_R_y  SIT_FIN_Y  SIT_FIN_R_   SIT_FIN_R_P  \
0           False         True      False        False        False
1           False        False       True        False        False
2           False        False       True        False        False
3           False        False       True        False        False
4           False        False       True        False        False
...           ...          ...        ...          ...          ...
3270615     False        False       True        False        False
3270616      True        False      False        False         True
3270617      True        False      False        False         True
3270618      True        False      False        False         True
3270619      True        False      False        False         True

         SIT_FIN_R_R  SIT_FIN_R_T  SIT_FIN_R_Y Cluster
0               True        False        False       1
1              False         True        False       1
2              False         True        False       1
3              False        False         True       1
4              False        False         True       2
...              ...          ...          ...     ...
3270615        False         True        False       0
3270616        False        False        False       0
3270617        False        False        False       0
3270618        False        False        False       0
3270619        False        False        False       0

[3270620 rows x 77 columns]

In [23]:
# Analizar desertores
desertoresc = combined[combined['DESERTOR'] == 1]

# Identificar los valores nulos en 'COD_MEN' y contarlos
num_nulls = desertoresc['COD_MEN'].isnull().sum()

print(num_nulls)

95327

In [22]:
# Número de desertores por cluster
desertoresc['Cluster'].value_counts()

Cluster
0    45349
2    25315
1    24663
Name: count, dtype: int64

In [24]:
# Analizar regulares
regularesc = combined[combined['DESERTOR'] == 0]

# Identificar los valores nulos en 'COD_MEN' y contarlos
num_nulls = regularesc['COD_MEN'].isnull().sum()

print(num_nulls)

0

In [25]:
# Número de desertores por cluster
regularesc['Cluster'].value_counts()

Cluster
2    1065823
1    1065438
0    1044032
Name: count, dtype: int64

In [26]:
# valores nulos de combined
combined.isnull().sum()

Unnamed: 0_x    0
AGNO_x          0
RBD_x           0
DGV_RBD_x       0
NOM_RBD         0
               ..
SIT_FIN_R_P     0
SIT_FIN_R_R     0
SIT_FIN_R_T     0
SIT_FIN_R_Y     0
Cluster         0
Length: 77, dtype: int64

In [27]:
combined.head()

,Unnamed: 0_x,AGNO_x,RBD_x,DGV_RBD_x,NOM_RBD,COD_REG_RBD_x,NOM_REG_RBD_A,COD_PRO_RBD_x,COD_COM_RBD_x,NOM_COM_RBD,...,SIT_FIN_,SIT_FIN_P,SIT_FIN_R_y,SIT_FIN_Y,SIT_FIN_R_,SIT_FIN_R_P,SIT_FIN_R_R,SIT_FIN_R_T,SIT_FIN_R_Y,Cluster
0,25,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,False,False,True,False,False,False,True,False,False,1
1,26,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,False,False,False,True,False,False,False,True,False,1
2,56,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,False,False,False,True,False,False,False,True,False,1
3,59,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,False,False,False,True,False,False,False,False,True,1
4,61,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,False,False,False,True,False,False,False,False,True,2

In [28]:
# Describe de combined Cluster = 0
combined[combined['Cluster'] == 0].describe()

,Unnamed: 0_x,AGNO_x,RBD_x,DGV_RBD_x,COD_REG_RBD_x,COD_PRO_RBD_x,COD_COM_RBD_x,COD_DEPROV_RBD_x,COD_DEPE_x,COD_DEPE2_x,...,FEC_NAC_ALU_y,EDAD_ALU_y,COD_REG_ALU_y,COD_COM_ALU_y,COD_RAMA_y,COD_SEC_y,COD_ESPE_y,PROM_GRAL_y,ASISTENCIA_y,Cluster
count,1.089381e+06,1.089381e+06,1.089381e+06,1.089381e+06,1.089381e+06,1.089381e+06,1.089381e+06,1.089381e+06,1.089381e+06,1.089381e+06,...,1.089381e+06,1.089381e+06,1.089381e+06,1.089381e+06,1.089381e+06,1.089381e+06,1.089381e+06,1.089381e+06,1.089381e+06,1089381.0
mean,1.626898e+06,2.018958e+03,1.132132e+04,4.447963e+00,9.529623e+00,9.719564e+01,9.726395e+03,9.594810e+01,2.714497e+00,1.843301e+00,...,2.006385e+05,1.213149e+01,9.544236e+00,9.738940e+03,2.877542e+01,3.016072e+01,3.016587e+03,4.960249e+00,7.768236e+01,0.0
std,9.541021e+05,1.997382e-01,8.765586e+03,2.885017e+00,4.017048e+00,3.995612e+01,3.998520e+03,3.966807e+01,1.057255e+00,8.878820e-01,...,3.308999e+02,3.276449e+00,4.033352e+00,4.015908e+03,1.196295e+02,1.254500e+02,1.254712e+04,2.124820e+00,3.314962e+01,0.0
min,4.000000e+01,2.018000e+03,1.000000e+00,0.000000e+00,1.000000e+00,1.100000e+01,1.101000e+03,1.100000e+01,1.000000e+00,1.000000e+00,...,1.958100e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0
25%,8.086800e+05,2.019000e+03,4.534000e+03,2.000000e+00,6.000000e+00,6.100000e+01,6.110000e+03,6.100000e+01,2.000000e+00,1.000000e+00,...,2.004010e+05,9.000000e+00,6.000000e+00,6.110000e+03,0.000000e+00,0.000000e+00,0.000000e+00,5.100000e+00,8.300000e+01,0.0
50%,1.607734e+06,2.019000e+03,9.636000e+03,4.000000e+00,1.000000e+01,1.020000e+02,1.020100e+04,1.010000e+02,3.000000e+00,2.000000e+00,...,2.006110e+05,1.200000e+01,1.000000e+01,1.020800e+04,0.000000e+00,0.000000e+00,0.000000e+00,5.700000e+00,9.200000e+01,0.0
75%,2.439528e+06,2.019000e+03,1.573200e+04,7.000000e+00,1.300000e+01,1.310000e+02,1.312300e+04,1.340000e+02,3.000000e+00,2.000000e+00,...,2.009090e+05,1.500000e+01,1.300000e+01,1.312300e+04,0.000000e+00,0.000000e+00,0.000000e+00,6.200000e+00,9.600000e+01,0.0
max,3.328914e+06,2.019000e+03,4.142100e+04,9.000000e+00,1.600000e+01,1.630000e+02,1.630500e+04,1.510000e+02,6.000000e+00,5.000000e+00,...,2.018020e+05,6.000000e+01,1.600000e+01,1.630500e+04,9.000000e+02,9.100000e+02,9.100500e+04,7.000000e+00,1.000000e+02,0.0

In [30]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3270620 entries, 0 to 3270619
Data columns (total 77 columns):
 #   Column            Dtype
---  ------            -----
 0   Unnamed: 0_x      int64
 1   AGNO_x            int64
 2   RBD_x             int64
 3   DGV_RBD_x         int64
 4   NOM_RBD           object
 5   COD_REG_RBD_x     int64
 6   NOM_REG_RBD_A     object
 7   COD_PRO_RBD_x     int64
 8   COD_COM_RBD_x     int64
 9   NOM_COM_RBD       object
 10  COD_DEPROV_RBD_x  int64
 11  NOM_DEPROV_RBD    object
 12  COD_DEPE_x        int64
 13  COD_DEPE2_x       int64
 14  RURAL_RBD_x       int64
 15  ESTADO_ESTAB_x    int64
 16  COD_ENSE_x        int64
 17  COD_ENSE2_x       int64
 18  COD_GRADO_x       int64
 19  LET_CUR           object
 20  COD_JOR_x         int64
 21  COD_TIP_CUR_x     int64
 22  COD_DES_CUR_x     int64
 23  MRUN              int64
 24  GEN_ALU_x         int64
 25  FEC_NAC_ALU_x     int64
 26  EDAD_ALU_x        int64
 27  COD_REG_ALU_x     int64
 28  COD_COM_ALU_x     int64
 29  NOM_COM_ALU       object
 30  COD_RAMA_x        int64
 31  COD_SEC_x         int64
 32  COD_ESPE_x        int64
 33  PROM_GRAL_x       object
 34  ASISTENCIA_x      int64
 35  SIT_FIN           object
 36  SIT_FIN_R_x       object
 37  DESERTOR          int64
 38  COD_MEN           float64
 39  Unnamed: 0_y      int64
 40  AGNO_y            int64
 41  RBD_y             int64
 42  DGV_RBD_y         int64
 43  COD_REG_RBD_y     int64
 44  COD_PRO_RBD_y     int64
 45  COD_COM_RBD_y     int64
 46  COD_DEPROV_RBD_y  int64
 47  COD_DEPE_y        int64
 48  COD_DEPE2_y       int64
 49  RURAL_RBD_y       int64
 50  ESTADO_ESTAB_y    int64
 51  COD_ENSE_y        int64
 52  COD_ENSE2_y       int64
 53  COD_GRADO_y       int64
 54  COD_JOR_y         int64
 55  COD_TIP_CUR_y     int64
 56  COD_DES_CUR_y     int64
 57  GEN_ALU_y         int64
 58  FEC_NAC_ALU_y     int64
 59  EDAD_ALU_y        int64
 60  COD_REG_ALU_y     int64
 61  COD_COM_ALU_y     int64
 62  COD_RAMA_y        int64
 63  COD_SEC_y         int64
 64  COD_ESPE_y        int64
 65  PROM_GRAL_y       float64
 66  ASISTENCIA_y      int64
 67  SIT_FIN_          bool
 68  SIT_FIN_P         bool
 69  SIT_FIN_R_y       bool
 70  SIT_FIN_Y         bool
 71  SIT_FIN_R_        bool
 72  SIT_FIN_R_P       bool
 73  SIT_FIN_R_R       bool
 74  SIT_FIN_R_T       bool
 75  SIT_FIN_R_Y       bool
 76  Cluster           int64
dtypes: bool(9), float64(2), int64(57), object(9)
memory usage: 1.7+ GB

In [31]:
# Describe de combined Cluster = 0 solamente de las variables prom_gral_y prom_gral_x y EDAD_ALU y asistencia
combined[combined['Cluster'] == 0][['PROM_GRAL_x', 'ASISTENCIA_x', 'EDAD_ALU_x', 'PROM_GRAL_y', 'ASISTENCIA_y', 'EDAD_ALU_y']].describe()

       ASISTENCIA_x    EDAD_ALU_x   PROM_GRAL_y  ASISTENCIA_y    EDAD_ALU_y
count  1.089381e+06  1.089381e+06  1.089381e+06  1.089381e+06  1.089381e+06
mean   7.768236e+01  1.213149e+01  4.960249e+00  7.768236e+01  1.213149e+01
std    3.314962e+01  3.276449e+00  2.124820e+00  3.314962e+01  3.276449e+00
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    8.300000e+01  9.000000e+00  5.100000e+00  8.300000e+01  9.000000e+00
50%    9.200000e+01  1.200000e+01  5.700000e+00  9.200000e+01  1.200000e+01
75%    9.600000e+01  1.500000e+01  6.200000e+00  9.600000e+01  1.500000e+01
max    1.000000e+02  6.000000e+01  7.000000e+00  1.000000e+02  6.000000e+01

In [32]:
# valores unicos de edad_alu_x en combined
combined['EDAD_ALU_x'].unique()

array([17, 18, 16, 15, 19, 20, 14,  7,  9, 10, 13, 11, 12,  6,  8,  5, 21,
       92, 28,  4,  0,  3, 22, 35, 24, 26, 23, 97, 38, 33, 39, 40, 44, 32,
       37, 43, 34,  1, 46, 27, 25, 30, 50, 57,  2, 60, 29])

In [34]:
print('Cluster 0')
display(combined[combined['Cluster'] == 0][['PROM_GRAL_x', 'ASISTENCIA_x', 'EDAD_ALU_x', 'PROM_GRAL_y', 'ASISTENCIA_y', 'EDAD_ALU_y']].describe())
print('Cluster 1')
display(combined[combined['Cluster'] == 1][['PROM_GRAL_x', 'ASISTENCIA_x', 'EDAD_ALU_x', 'PROM_GRAL_y', 'ASISTENCIA_y', 'EDAD_ALU_y']].describe())
print('Cluster 2')
display(combined[combined['Cluster'] == 2][['PROM_GRAL_x', 'ASISTENCIA_x', 'EDAD_ALU_x', 'PROM_GRAL_y', 'ASISTENCIA_y', 'EDAD_ALU_y']].describe())

Cluster 0

       ASISTENCIA_x    EDAD_ALU_x   PROM_GRAL_y  ASISTENCIA_y    EDAD_ALU_y
count  1.089381e+06  1.089381e+06  1.089381e+06  1.089381e+06  1.089381e+06
mean   7.768236e+01  1.213149e+01  4.960249e+00  7.768236e+01  1.213149e+01
std    3.314962e+01  3.276449e+00  2.124820e+00  3.314962e+01  3.276449e+00
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    8.300000e+01  9.000000e+00  5.100000e+00  8.300000e+01  9.000000e+00
50%    9.200000e+01  1.200000e+01  5.700000e+00  9.200000e+01  1.200000e+01
75%    9.600000e+01  1.500000e+01  6.200000e+00  9.600000e+01  1.500000e+01
max    1.000000e+02  6.000000e+01  7.000000e+00  1.000000e+02  6.000000e+01

Cluster 1

       ASISTENCIA_x    EDAD_ALU_x   PROM_GRAL_y  ASISTENCIA_y    EDAD_ALU_y
count  1.090101e+06  1.090101e+06  1.090101e+06  1.090101e+06  1.090101e+06
mean   7.836374e+01  1.218914e+01  5.005794e+00  7.836374e+01  1.218914e+01
std    3.243954e+01  3.273006e+00  2.079302e+00  3.243954e+01  3.273006e+00
min    0.000000e+00  3.000000e+00  0.000000e+00  0.000000e+00  3.000000e+00
25%    8.300000e+01  9.000000e+00  5.100000e+00  8.300000e+01  9.000000e+00
50%    9.200000e+01  1.200000e+01  5.700000e+00  9.200000e+01  1.200000e+01
75%    9.600000e+01  1.500000e+01  6.200000e+00  9.600000e+01  1.500000e+01
max    1.000000e+02  4.400000e+01  7.000000e+00  1.000000e+02  4.400000e+01

Cluster 2

       ASISTENCIA_x    EDAD_ALU_x   PROM_GRAL_y  ASISTENCIA_y    EDAD_ALU_y
count  1.091138e+06  1.091138e+06  1.091138e+06  1.091138e+06  1.091138e+06
mean   7.829996e+01  1.218783e+01  5.001701e+00  7.829996e+01  1.218783e+01
std    3.250423e+01  3.270352e+00  2.084012e+00  3.250423e+01  3.270352e+00
min    0.000000e+00  4.000000e+00  0.000000e+00  0.000000e+00  4.000000e+00
25%    8.300000e+01  9.000000e+00  5.100000e+00  8.300000e+01  9.000000e+00
50%    9.200000e+01  1.200000e+01  5.700000e+00  9.200000e+01  1.200000e+01
75%    9.600000e+01  1.500000e+01  6.200000e+00  9.600000e+01  1.500000e+01
max    1.000000e+02  9.700000e+01  7.000000e+00  1.000000e+02  9.700000e+01

In [38]:
# Ranking comunas con más desertores y regulares en cluester 0
print('Cluster 0')
display(combined[combined['Cluster'] == 0][['COD_COM_RBD_x', 'NOM_COM_RBD']].value_counts().head(10))
print('Cluster 1')
display(combined[combined['Cluster'] == 1][['COD_COM_RBD_x', 'NOM_COM_RBD']].value_counts().head(10))
print('Cluster 2')
display(combined[combined['Cluster'] == 2][['COD_COM_RBD_x', 'NOM_COM_RBD']].value_counts().head(10))

Cluster 0

COD_COM_RBD_x  NOM_COM_RBD
13201          PUENTE ALTO     34002
13101          SANTIAGO        30865
13119          MAIPÚ           29757
2101           ANTOFAGASTA     25170
13110          LA FLORIDA      24873
9101           TEMUCO          20321
13401          SAN BERNARDO    18339
5109           VIÑA DEL MAR    18074
6101           RANCAGUA        17940
10101          PUERTO MONTT    17194
Name: count, dtype: int64

Cluster 1

COD_COM_RBD_x  NOM_COM_RBD
13201          PUENTE ALTO     35107
13119          MAIPÚ           31134
13110          LA FLORIDA      24899
13101          SANTIAGO        24206
9101           TEMUCO          21447
2101           ANTOFAGASTA     21371
13401          SAN BERNARDO    18436
6101           RANCAGUA        18289
5109           VIÑA DEL MAR    18040
10101          PUERTO MONTT    17961
Name: count, dtype: int64

Cluster 2

COD_COM_RBD_x  NOM_COM_RBD
13201          PUENTE ALTO     35622
13119          MAIPÚ           31000
13110          LA FLORIDA      24832
13101          SANTIAGO        24015
2101           ANTOFAGASTA     21655
9101           TEMUCO          21470
13401          SAN BERNARDO    18559
5109           VIÑA DEL MAR    18257
6101           RANCAGUA        18237
10101          PUERTO MONTT    17744
Name: count, dtype: int64

In [39]:
# Ranking comunas con más desertores por cluster
print('Cluster 0')
display(desertoresc[desertoresc['Cluster'] == 0][['COD_COM_RBD_x', 'NOM_COM_RBD']].value_counts().head(10))
print('Cluster 1')
display(desertoresc[desertoresc['Cluster'] == 1][['COD_COM_RBD_x', 'NOM_COM_RBD']].value_counts().head(10))
print('Cluster 2')
display(desertoresc[desertoresc['Cluster'] == 2][['COD_COM_RBD_x', 'NOM_COM_RBD']].value_counts().head(10))

Cluster 0

COD_COM_RBD_x  NOM_COM_RBD
13101          SANTIAGO            2613
2101           ANTOFAGASTA         1863
13127          RECOLETA            1168
1101           IQUIQUE             1132
13110          LA FLORIDA          1068
13106          ESTACIÓN CENTRAL    1046
13119          MAIPÚ               1037
13201          PUENTE ALTO         1022
13108          INDEPENDENCIA       1017
13120          ÑUÑOA               1005
Name: count, dtype: int64

Cluster 1

COD_COM_RBD_x  NOM_COM_RBD
13201          PUENTE ALTO     882
13101          SANTIAGO        699
13119          MAIPÚ           674
13110          LA FLORIDA      555
2101           ANTOFAGASTA     526
10101          PUERTO MONTT    499
5101           VALPARAÍSO      477
4101           LA SERENA       469
5109           VIÑA DEL MAR    451
13401          SAN BERNARDO    444
Name: count, dtype: int64

Cluster 2

COD_COM_RBD_x  NOM_COM_RBD
13201          PUENTE ALTO     842
13119          MAIPÚ           751
13101          SANTIAGO        719
13110          LA FLORIDA      552
5101           VALPARAÍSO      524
9101           TEMUCO          524
2101           ANTOFAGASTA     508
5109           VIÑA DEL MAR    505
6101           RANCAGUA        477
4101           LA SERENA       472
Name: count, dtype: int64

In [40]:
# Ranking comunas con más regulares por cluster
print('Cluster 0')
display(regularesc[regularesc['Cluster'] == 0][['COD_COM_RBD_x', 'NOM_COM_RBD']].value_counts().head(10))
print('Cluster 1')
display(regularesc[regularesc['Cluster'] == 1][['COD_COM_RBD_x', 'NOM_COM_RBD']].value_counts().head(10))
print('Cluster 2')
display(regularesc[regularesc['Cluster'] == 2][['COD_COM_RBD_x', 'NOM_COM_RBD']].value_counts().head(10))

Cluster 0

COD_COM_RBD_x  NOM_COM_RBD
13201          PUENTE ALTO     32980
13119          MAIPÚ           28720
13101          SANTIAGO        28252
13110          LA FLORIDA      23805
2101           ANTOFAGASTA     23307
9101           TEMUCO          19682
13401          SAN BERNARDO    17714
5109           VIÑA DEL MAR    17397
6101           RANCAGUA        17138
10101          PUERTO MONTT    16620
Name: count, dtype: int64

Cluster 1

COD_COM_RBD_x  NOM_COM_RBD
13201          PUENTE ALTO     34225
13119          MAIPÚ           30460
13110          LA FLORIDA      24344
13101          SANTIAGO        23507
9101           TEMUCO          21007
2101           ANTOFAGASTA     20845
13401          SAN BERNARDO    17992
6101           RANCAGUA        17850
5109           VIÑA DEL MAR    17589
10101          PUERTO MONTT    17462
Name: count, dtype: int64

Cluster 2

COD_COM_RBD_x  NOM_COM_RBD
13201          PUENTE ALTO     34780
13119          MAIPÚ           30249
13110          LA FLORIDA      24280
13101          SANTIAGO        23296
2101           ANTOFAGASTA     21147
9101           TEMUCO          20946
13401          SAN BERNARDO    18125
6101           RANCAGUA        17760
5109           VIÑA DEL MAR    17752
10101          PUERTO MONTT    17309
Name: count, dtype: int64