In [20]:
# Importar librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
# Cargar datos
r2018 = pd.read_csv('data/rendimiento/2018/r2018.csv', encoding='latin-1', sep=';')
r2019 = pd.read_csv('data/rendimiento/2019/r2019.csv', encoding='latin-1', sep=';')

/var/folders/lm/4_3myv813nlbx14xpgrgx5l00000gn/T/ipykernel_93192/2361527491.py:2: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  r2018 = pd.read_csv('data/rendimiento/2018/r2018.csv', encoding='latin-1', sep=';')
/var/folders/lm/4_3myv813nlbx14xpgrgx5l00000gn/T/ipykernel_93192/2361527491.py:3: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  r2019 = pd.read_csv('data/rendimiento/2019/r2019.csv', encoding='latin-1', sep=';')

In [22]:
# Cambiar nombre de variable 'ï»¿AGNO' por 'AGNO'
r2018.rename(columns={'ï»¿AGNO':'AGNO'}, inplace=True)

In [23]:
r2018.head()

,AGNO,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,COD_DEPROV_RBD,...,COD_REG_ALU,COD_COM_ALU,NOM_COM_ALU,COD_RAMA,COD_SEC,COD_ESPE,PROM_GRAL,ASISTENCIA,SIT_FIN,SIT_FIN_R
0,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15,15101,ARICA,400,410,41001,0,0,Y,T
1,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15,15101,ARICA,400,410,41001,0,0,Y,Y
2,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15,15101,ARICA,400,410,41001,0,0,Y,T
3,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15,15101,ARICA,400,410,41001,"6,4",95,P,P
4,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15,15101,ARICA,400,410,41001,0,0,Y,Y

In [24]:
r2019.rename(columns={'ï»¿AGNO':'AGNO'}, inplace=True)
r2019.head()

,AGNO,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,COD_DEPROV_RBD,...,COD_COM_ALU,NOM_COM_ALU,COD_RAMA,COD_SEC,COD_ESPE,PROM_GRAL,ASISTENCIA,SIT_FIN,SIT_FIN_R,COD_MEN
0,2019,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15101,ARICA,400,410,41001,5,85,P,P,0
1,2019,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15101,ARICA,400,410,41001,0,0,Y,Y,0
2,2019,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15101,ARICA,400,410,41001,"4,9",89,R,R,0
3,2019,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15101,ARICA,400,410,41001,0,0,Y,Y,0
4,2019,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,1107,ALTO HOSPICIO,400,410,41001,0,0,Y,T,0

In [25]:
r2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3293750 entries, 0 to 3293749
Data columns (total 36 columns):
 #   Column          Dtype
---  ------          -----
 0   AGNO            int64
 1   RBD             int64
 2   DGV_RBD         int64
 3   NOM_RBD         object
 4   COD_REG_RBD     int64
 5   NOM_REG_RBD_A   object
 6   COD_PRO_RBD     int64
 7   COD_COM_RBD     int64
 8   NOM_COM_RBD     object
 9   COD_DEPROV_RBD  int64
 10  NOM_DEPROV_RBD  object
 11  COD_DEPE        int64
 12  COD_DEPE2       int64
 13  RURAL_RBD       int64
 14  ESTADO_ESTAB    int64
 15  COD_ENSE        int64
 16  COD_ENSE2       int64
 17  COD_GRADO       int64
 18  LET_CUR         object
 19  COD_JOR         int64
 20  COD_TIP_CUR     int64
 21  COD_DES_CUR     int64
 22  MRUN            int64
 23  GEN_ALU         int64
 24  FEC_NAC_ALU     int64
 25  EDAD_ALU        object
 26  COD_REG_ALU     int64
 27  COD_COM_ALU     int64
 28  NOM_COM_ALU     object
 29  COD_RAMA        int64
 30  COD_SEC         int64
 31  COD_ESPE        int64
 32  PROM_GRAL       object
 33  ASISTENCIA      int64
 34  SIT_FIN         object
 35  SIT_FIN_R       object
dtypes: int64(26), object(10)
memory usage: 904.7+ MB

In [26]:
r2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3328915 entries, 0 to 3328914
Data columns (total 37 columns):
 #   Column          Dtype
---  ------          -----
 0   AGNO            int64
 1   RBD             int64
 2   DGV_RBD         int64
 3   NOM_RBD         object
 4   COD_REG_RBD     int64
 5   NOM_REG_RBD_A   object
 6   COD_PRO_RBD     int64
 7   COD_COM_RBD     int64
 8   NOM_COM_RBD     object
 9   COD_DEPROV_RBD  int64
 10  NOM_DEPROV_RBD  object
 11  COD_DEPE        int64
 12  COD_DEPE2       int64
 13  RURAL_RBD       int64
 14  ESTADO_ESTAB    int64
 15  COD_ENSE        int64
 16  COD_ENSE2       int64
 17  COD_GRADO       int64
 18  LET_CUR         object
 19  COD_JOR         int64
 20  COD_TIP_CUR     int64
 21  COD_DES_CUR     int64
 22  MRUN            int64
 23  GEN_ALU         int64
 24  FEC_NAC_ALU     int64
 25  EDAD_ALU        object
 26  COD_REG_ALU     int64
 27  COD_COM_ALU     int64
 28  NOM_COM_ALU     object
 29  COD_RAMA        int64
 30  COD_SEC         int64
 31  COD_ESPE        int64
 32  PROM_GRAL       object
 33  ASISTENCIA      int64
 34  SIT_FIN         object
 35  SIT_FIN_R       object
 36  COD_MEN         int64
dtypes: int64(27), object(10)
memory usage: 939.7+ MB

In [27]:
from analisis2 import desertoresr

In [28]:
desertoresr(r2018, r2019)

/Users/borisbravo/Documents/desercion-escolar/analisis2.py:13: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  desertores = desertores[~((desertores['COD_GRADO'] == 4) & (df_anterior['COD_ENSE2'].isin([5, 7])))]
/Users/borisbravo/Documents/desercion-escolar/analisis2.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  estudiantes_regulares['DESERTOR'] = 0

In [29]:
df = pd.read_csv('data/tablas/combinado2018.csv', encoding='latin-1', sep=';')

In [30]:
df.head()

,Unnamed: 0,AGNO,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,NOM_COM_ALU,COD_RAMA,COD_SEC,COD_ESPE,PROM_GRAL,ASISTENCIA,SIT_FIN,SIT_FIN_R,DESERTOR,COD_MEN
0,25,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,ARICA,0,0,0,"4,3",76,R,R,1,NaN
1,26,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,ARICA,0,0,0,0,0,Y,T,1,NaN
2,56,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,ARICA,0,0,0,0,0,Y,T,1,NaN
3,59,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,POZO ALMONTE,0,0,0,0,0,Y,Y,1,NaN
4,61,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,ARICA,0,0,0,0,0,Y,Y,1,NaN

In [31]:
# eliminar unnamed
df.drop(columns=['Unnamed: 0'], inplace=True)

In [32]:
# Valores unicos de variable DESERTORES
df['DESERTOR'].value_counts()

DESERTOR
0    2813885
1      79315
Name: count, dtype: int64

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2893200 entries, 0 to 2893199
Data columns (total 38 columns):
 #   Column          Dtype
---  ------          -----
 0   AGNO            int64
 1   RBD             int64
 2   DGV_RBD         int64
 3   NOM_RBD         object
 4   COD_REG_RBD     int64
 5   NOM_REG_RBD_A   object
 6   COD_PRO_RBD     int64
 7   COD_COM_RBD     int64
 8   NOM_COM_RBD     object
 9   COD_DEPROV_RBD  int64
 10  NOM_DEPROV_RBD  object
 11  COD_DEPE        int64
 12  COD_DEPE2       int64
 13  RURAL_RBD       int64
 14  ESTADO_ESTAB    int64
 15  COD_ENSE        int64
 16  COD_ENSE2       int64
 17  COD_GRADO       int64
 18  LET_CUR         object
 19  COD_JOR         int64
 20  COD_TIP_CUR     int64
 21  COD_DES_CUR     int64
 22  MRUN            int64
 23  GEN_ALU         int64
 24  FEC_NAC_ALU     int64
 25  EDAD_ALU        int64
 26  COD_REG_ALU     int64
 27  COD_COM_ALU     int64
 28  NOM_COM_ALU     object
 29  COD_RAMA        int64
 30  COD_SEC         int64
 31  COD_ESPE        int64
 32  PROM_GRAL       object
 33  ASISTENCIA      int64
 34  SIT_FIN         object
 35  SIT_FIN_R       object
 36  DESERTOR        int64
 37  COD_MEN         float64
dtypes: float64(1), int64(28), object(9)
memory usage: 838.8+ MB

In [34]:
# drop NOM_RBD, NOM_COM_RBD, NOM_DEPROV_RBD
df.drop(columns=['NOM_RBD', 'NOM_COM_RBD', 'NOM_DEPROV_RBD', 'LET_CUR'], inplace=True)

In [36]:
# Lista de nombre de variables 
list(df.columns)

['AGNO',
 'RBD',
 'DGV_RBD',
 'COD_REG_RBD',
 'NOM_REG_RBD_A',
 'COD_PRO_RBD',
 'COD_COM_RBD',
 'COD_DEPROV_RBD',
 'COD_DEPE',
 'COD_DEPE2',
 'RURAL_RBD',
 'ESTADO_ESTAB',
 'COD_ENSE',
 'COD_ENSE2',
 'COD_GRADO',
 'COD_JOR',
 'COD_TIP_CUR',
 'COD_DES_CUR',
 'MRUN',
 'GEN_ALU',
 'FEC_NAC_ALU',
 'EDAD_ALU',
 'COD_REG_ALU',
 'COD_COM_ALU',
 'NOM_COM_ALU',
 'COD_RAMA',
 'COD_SEC',
 'COD_ESPE',
 'PROM_GRAL',
 'ASISTENCIA',
 'SIT_FIN',
 'SIT_FIN_R',
 'DESERTOR',
 'COD_MEN']

In [37]:
# lista de variables object
df.select_dtypes(include=['object']).columns

Index(['NOM_REG_RBD_A', 'NOM_COM_ALU', 'PROM_GRAL', 'SIT_FIN', 'SIT_FIN_R'], dtype='object')

In [38]:
# Drop Unnamed, 'NOM_REG_RBD_A', 'NOM_COM_ALU'
df.drop(columns=['NOM_REG_RBD_A', 'NOM_COM_ALU'], inplace=True)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2893200 entries, 0 to 2893199
Data columns (total 32 columns):
 #   Column          Dtype
---  ------          -----
 0   AGNO            int64
 1   RBD             int64
 2   DGV_RBD         int64
 3   COD_REG_RBD     int64
 4   COD_PRO_RBD     int64
 5   COD_COM_RBD     int64
 6   COD_DEPROV_RBD  int64
 7   COD_DEPE        int64
 8   COD_DEPE2       int64
 9   RURAL_RBD       int64
 10  ESTADO_ESTAB    int64
 11  COD_ENSE        int64
 12  COD_ENSE2       int64
 13  COD_GRADO       int64
 14  COD_JOR         int64
 15  COD_TIP_CUR     int64
 16  COD_DES_CUR     int64
 17  MRUN            int64
 18  GEN_ALU         int64
 19  FEC_NAC_ALU     int64
 20  EDAD_ALU        int64
 21  COD_REG_ALU     int64
 22  COD_COM_ALU     int64
 23  COD_RAMA        int64
 24  COD_SEC         int64
 25  COD_ESPE        int64
 26  PROM_GRAL       object
 27  ASISTENCIA      int64
 28  SIT_FIN         object
 29  SIT_FIN_R       object
 30  DESERTOR        int64
 31  COD_MEN         float64
dtypes: float64(1), int64(28), object(3)
memory usage: 706.3+ MB

In [40]:
# df2018 dESERTOR valores unicos
df['DESERTOR'].unique()

array([1, 0])

In [42]:
# list variables names
list(df.columns)

['AGNO',
 'RBD',
 'DGV_RBD',
 'COD_REG_RBD',
 'COD_PRO_RBD',
 'COD_COM_RBD',
 'COD_DEPROV_RBD',
 'COD_DEPE',
 'COD_DEPE2',
 'RURAL_RBD',
 'ESTADO_ESTAB',
 'COD_ENSE',
 'COD_ENSE2',
 'COD_GRADO',
 'COD_JOR',
 'COD_TIP_CUR',
 'COD_DES_CUR',
 'MRUN',
 'GEN_ALU',
 'FEC_NAC_ALU',
 'EDAD_ALU',
 'COD_REG_ALU',
 'COD_COM_ALU',
 'COD_RAMA',
 'COD_SEC',
 'COD_ESPE',
 'PROM_GRAL',
 'ASISTENCIA',
 'SIT_FIN',
 'SIT_FIN_R',
 'DESERTOR',
 'COD_MEN']

In [43]:
# PROM_GRAL change , for . the datatyope is float
df['PROM_GRAL'] = df['PROM_GRAL'].str.replace(',', '.').astype(float)

In [44]:
# list variables object
df.select_dtypes(include=['object']).columns

Index(['SIT_FIN', 'SIT_FIN_R'], dtype='object')

In [45]:
# dummies 'SIT_FIN', 'SIT_FIN_R'
df = pd.get_dummies(df, columns=['SIT_FIN', 'SIT_FIN_R'])

In [46]:
# df2018 variables category
df.select_dtypes(include=['category']).columns

Index([], dtype='object')

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2893200 entries, 0 to 2893199
Data columns (total 39 columns):
 #   Column          Dtype
---  ------          -----
 0   AGNO            int64
 1   RBD             int64
 2   DGV_RBD         int64
 3   COD_REG_RBD     int64
 4   COD_PRO_RBD     int64
 5   COD_COM_RBD     int64
 6   COD_DEPROV_RBD  int64
 7   COD_DEPE        int64
 8   COD_DEPE2       int64
 9   RURAL_RBD       int64
 10  ESTADO_ESTAB    int64
 11  COD_ENSE        int64
 12  COD_ENSE2       int64
 13  COD_GRADO       int64
 14  COD_JOR         int64
 15  COD_TIP_CUR     int64
 16  COD_DES_CUR     int64
 17  MRUN            int64
 18  GEN_ALU         int64
 19  FEC_NAC_ALU     int64
 20  EDAD_ALU        int64
 21  COD_REG_ALU     int64
 22  COD_COM_ALU     int64
 23  COD_RAMA        int64
 24  COD_SEC         int64
 25  COD_ESPE        int64
 26  PROM_GRAL       float64
 27  ASISTENCIA      int64
 28  DESERTOR        int64
 29  COD_MEN         float64
 30  SIT_FIN_        bool
 31  SIT_FIN_P       bool
 32  SIT_FIN_R       bool
 33  SIT_FIN_Y       bool
 34  SIT_FIN_R_      bool
 35  SIT_FIN_R_P     bool
 36  SIT_FIN_R_R     bool
 37  SIT_FIN_R_T     bool
 38  SIT_FIN_R_Y     bool
dtypes: bool(9), float64(2), int64(28)
memory usage: 687.0 MB

In [48]:
# Datos nulos
df.isnull().sum()

AGNO                  0
RBD                   0
DGV_RBD               0
COD_REG_RBD           0
COD_PRO_RBD           0
COD_COM_RBD           0
COD_DEPROV_RBD        0
COD_DEPE              0
COD_DEPE2             0
RURAL_RBD             0
ESTADO_ESTAB          0
COD_ENSE              0
COD_ENSE2             0
COD_GRADO             0
COD_JOR               0
COD_TIP_CUR           0
COD_DES_CUR           0
MRUN                  0
GEN_ALU               0
FEC_NAC_ALU           0
EDAD_ALU              0
COD_REG_ALU           0
COD_COM_ALU           0
COD_RAMA              0
COD_SEC               0
COD_ESPE              0
PROM_GRAL             0
ASISTENCIA            0
DESERTOR              0
COD_MEN           79315
SIT_FIN_              0
SIT_FIN_P             0
SIT_FIN_R             0
SIT_FIN_Y             0
SIT_FIN_R_            0
SIT_FIN_R_P           0
SIT_FIN_R_R           0
SIT_FIN_R_T           0
SIT_FIN_R_Y           0
dtype: int64

In [49]:
# Drop variable COD_MEN
df.drop(columns=['COD_MEN'], inplace=True)

In [50]:
# Datos nulos
df.isnull().sum()

AGNO              0
RBD               0
DGV_RBD           0
COD_REG_RBD       0
COD_PRO_RBD       0
COD_COM_RBD       0
COD_DEPROV_RBD    0
COD_DEPE          0
COD_DEPE2         0
RURAL_RBD         0
ESTADO_ESTAB      0
COD_ENSE          0
COD_ENSE2         0
COD_GRADO         0
COD_JOR           0
COD_TIP_CUR       0
COD_DES_CUR       0
MRUN              0
GEN_ALU           0
FEC_NAC_ALU       0
EDAD_ALU          0
COD_REG_ALU       0
COD_COM_ALU       0
COD_RAMA          0
COD_SEC           0
COD_ESPE          0
PROM_GRAL         0
ASISTENCIA        0
DESERTOR          0
SIT_FIN_          0
SIT_FIN_P         0
SIT_FIN_R         0
SIT_FIN_Y         0
SIT_FIN_R_        0
SIT_FIN_R_P       0
SIT_FIN_R_R       0
SIT_FIN_R_T       0
SIT_FIN_R_Y       0
dtype: int64

In [54]:
df.drop(columns=['DESERTOR'], inplace=True)

In [51]:
# Random Forest d2018   
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.preprocessing import StandardScaler

In [56]:
df.columns

Index(['AGNO', 'RBD', 'DGV_RBD', 'COD_REG_RBD', 'COD_PRO_RBD', 'COD_COM_RBD',
       'COD_DEPROV_RBD', 'COD_DEPE', 'COD_DEPE2', 'RURAL_RBD', 'ESTADO_ESTAB',
       'COD_ENSE', 'COD_ENSE2', 'COD_GRADO', 'COD_JOR', 'COD_TIP_CUR',
       'COD_DES_CUR', 'MRUN', 'GEN_ALU', 'FEC_NAC_ALU', 'EDAD_ALU',
       'COD_REG_ALU', 'COD_COM_ALU', 'COD_RAMA', 'COD_SEC', 'COD_ESPE',
       'PROM_GRAL', 'ASISTENCIA', 'SIT_FIN_ ', 'SIT_FIN_P', 'SIT_FIN_R',
       'SIT_FIN_Y', 'SIT_FIN_R_ ', 'SIT_FIN_R_P', 'SIT_FIN_R_R', 'SIT_FIN_R_T',
       'SIT_FIN_R_Y'],
      dtype='object')

In [ ]:
# 9, 10, 14, 15, 16, 18, 23, 24, 28, 29, 30, 31, 32, 33, 34, 35, 36
# RURAL_RBD, ESTADO_ESTAB, COD_JOR, COD_TIP_CUR, COD_DES_CUR, GEN_ALU, COD_RAMA, COD_SEC, SIT_FIN_ ', 'SIT_FIN_P', 'SIT_FIN_R', 'SIT_FIN_Y', 'SIT_FIN_R_ ', 'SIT_FIN_R_P', 'SIT_FIN_R_R', 'SIT_FIN_R_T', 'SIT_FIN_R_Y'

In [59]:
from kmodes.kprototypes import KPrototypes

# Definir el número de clusters
num_clusters = 3

# Crear una instancia de KPrototypes
kproto = KPrototypes(n_clusters=num_clusters, init='Cao', verbose=2)

# Ajustar el modelo a los datos
clusters = kproto.fit_predict(df, categorical=[9, 10, 14, 15, 16, 18, 23, 24, 28, 29, 30, 31, 32, 33, 34, 35, 36])

# Añadir las etiquetas de los clusters al dataframe
df['Cluster'] = clusters

Initialization method and algorithm are deterministic. Setting n_init to 1.
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/100, moves: 309108, ncost: 1.8172432883704302e+19
Run: 1, iteration: 2/100, moves: 80498, ncost: 1.7970377479079131e+19
Run: 1, iteration: 3/100, moves: 47723, ncost: 1.7908880751213404e+19
Run: 1, iteration: 4/100, moves: 28021, ncost: 1.7887981072023605e+19
Run: 1, iteration: 5/100, moves: 16082, ncost: 1.7881078009105924e+19
Run: 1, iteration: 6/100, moves: 9422, ncost: 1.78787121222515e+19
Run: 1, iteration: 7/100, moves: 5450, ncost: 1.7877923471657726e+19
Run: 1, iteration: 8/100, moves: 3073, ncost: 1.7877669179065369e+19
Run: 1, iteration: 9/100, moves: 1761, ncost: 1.7877584146631176e+19
Run: 1, iteration: 10/100, moves: 1028, ncost: 1.7877555533813543e+19
Run: 1, iteration: 11/100, moves: 542, ncost: 1.787754723428806e+19
Run: 1, iteration: 12/100, moves: 355, ncost: 1.7877543943288439e+19
Run: 1, iteration: 13/100, moves: 178, ncost: 1.787754305169252e+19
Run: 1, iteration: 14/100, moves: 118, ncost: 1.7877542707187245e+19
Run: 1, iteration: 15/100, moves: 76, ncost: 1.7877542553715503e+19
Run: 1, iteration: 16/100, moves: 43, ncost: 1.7877542504428059e+19
Run: 1, iteration: 17/100, moves: 23, ncost: 1.7877542484473119e+19
Run: 1, iteration: 18/100, moves: 24, ncost: 1.7877542468712417e+19
Run: 1, iteration: 19/100, moves: 13, ncost: 1.7877542464547842e+19
Run: 1, iteration: 20/100, moves: 4, ncost: 1.787754246390851e+19
Run: 1, iteration: 21/100, moves: 2, ncost: 1.7877542463793795e+19
Run: 1, iteration: 22/100, moves: 0, ncost: 1.7877542463793795e+19
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/100, moves: 304280, ncost: 1.8212647121034322e+19
Run: 2, iteration: 2/100, moves: 86120, ncost: 1.7984629898482758e+19