In [45]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [46]:
m2018 = pd.read_csv('data/matriculas/2018/m2018.csv', sep=';')
m2019 = pd.read_csv('data/matriculas/2019/m2019.csv', sep=';')

/var/folders/v5/8__wxdkj3j713bygpr1tsw_80000gn/T/ipykernel_82815/3969867569.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  m2018 = pd.read_csv('data/matriculas/2018/m2018.csv', sep=';')
/var/folders/v5/8__wxdkj3j713bygpr1tsw_80000gn/T/ipykernel_82815/3969867569.py:2: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  m2019 = pd.read_csv('data/matriculas/2019/m2019.csv', sep=';')

In [47]:
from analisis import desertores

In [48]:
desertores(m2018, m2019)

/Users/davidlealolivares/Library/Mobile Documents/com~apple~CloudDocs/Talleres y ayudantias Diplomado DataScience UC2023/desercion-escolar/analisis.py:13: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  desertores = desertores[~((desertores['COD_GRADO'] == 4) & (df_anterior['COD_ENSE2'].isin([5, 7])))]
/Users/davidlealolivares/Library/Mobile Documents/com~apple~CloudDocs/Talleres y ayudantias Diplomado DataScience UC2023/desercion-escolar/analisis.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  estudiantes_regulares['DESERTOR'] = 0

In [49]:
# Importar desertores2018
desertores2018 = pd.read_csv('data/tablas/desertores2018.csv')
desertores2018.head()

,Unnamed: 0,AGNO,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,COD_DEPROV_RBD,...,FEC_NAC_ALU,EDAD_ALU,COD_REG_ALU,COD_COM_ALU,NOM_COM_ALU,COD_SEC,COD_ESPE,COD_RAMA,ENS,DESERTOR
0,15,2018,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,...,200104,17,15,15101,ARICA,0,0,0,6,1
1,40,2018,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,...,200205,16,15,15101,ARICA,0,0,0,6,1
2,44,2018,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,...,200105,17,1,1401,POZO ALMONTE,0,0,0,6,1
3,46,2018,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,...,200107,16,15,15101,ARICA,0,0,0,6,1
4,47,2018,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,...,200008,17,15,15101,ARICA,0,0,0,6,1

In [50]:
desertores2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79547 entries, 0 to 79546
Data columns (total 36 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      79547 non-null  int64
 1   AGNO            79547 non-null  int64
 2   RBD             79547 non-null  int64
 3   DGV_RBD         79547 non-null  int64
 4   NOM_RBD         79547 non-null  object
 5   COD_REG_RBD     79547 non-null  int64
 6   COD_PRO_RBD     79547 non-null  int64
 7   COD_COM_RBD     79547 non-null  int64
 8   NOM_COM_RBD     79547 non-null  object
 9   COD_DEPROV_RBD  79547 non-null  int64
 10  NOM_DEPROV_RBD  79547 non-null  object
 11  COD_DEPE        79547 non-null  int64
 12  COD_DEPE2       79547 non-null  int64
 13  RURAL_RBD       79547 non-null  int64
 14  ESTADO_ESTAB    79547 non-null  int64
 15  COD_ENSE        79547 non-null  int64
 16  COD_ENSE2       79547 non-null  int64
 17  COD_ENSE3       79547 non-null  int64
 18  COD_GRADO       79547 non-null  int64
 19  COD_GRADO2      79547 non-null  int64
 20  LET_CUR         79547 non-null  object
 21  COD_JOR         79547 non-null  int64
 22  COD_TIP_CUR     79547 non-null  int64
 23  COD_DES_CUR     79547 non-null  int64
 24  MRUN            79547 non-null  int64
 25  GEN_ALU         79547 non-null  int64
 26  FEC_NAC_ALU     79547 non-null  int64
 27  EDAD_ALU        79547 non-null  object
 28  COD_REG_ALU     79547 non-null  int64
 29  COD_COM_ALU     79547 non-null  int64
 30  NOM_COM_ALU     79547 non-null  object
 31  COD_SEC         79547 non-null  int64
 32  COD_ESPE        79547 non-null  int64
 33  COD_RAMA        79547 non-null  int64
 34  ENS             79547 non-null  int64
 35  DESERTOR        79547 non-null  int64
dtypes: int64(30), object(6)
memory usage: 21.8+ MB

In [59]:
# EDAD_ALU valores unicos
desertores2018['EDAD_ALU'].unique()

array(['17', '16', '15', '19', '18', '14', '6', '7', '8', '9', '10', '13',
       '11', '12', '5', '20', ' ', '21', '92', '3', '0', '35', '24', '23',
       '22', '34', '1', '46', '44', '25'], dtype=object)

In [60]:
# EDAD_ALU valores nulos
desertores2018['EDAD_ALU'].isnull().sum()

0

In [51]:
# Importar regulares2018
regulares2018 = pd.read_csv('data/tablas/regulares2018.csv')
regulares2018.head()

/var/folders/v5/8__wxdkj3j713bygpr1tsw_80000gn/T/ipykernel_82815/4044017080.py:2: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  regulares2018 = pd.read_csv('data/tablas/regulares2018.csv')

,Unnamed: 0,AGNO,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,FEC_NAC_ALU,EDAD_ALU,COD_REG_ALU,COD_COM_ALU,NOM_COM_ALU,COD_SEC,COD_ESPE,COD_RAMA,ENS,DESERTOR
0,15,2019,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,200505,14,15,15101,ARICA,0,0,0,6,0
1,16,2019,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,200301,16,15,15101,ARICA,0,0,0,6,0
2,18,2019,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,200408,14,15,15101,ARICA,0,0,0,6,0
3,19,2019,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,200307,15,15,15201,PUTRE,0,0,0,6,0
4,20,2019,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,200307,15,15,15101,ARICA,0,0,0,6,0

In [52]:
# Eliminar unnamed de desertores2018
desertores2018.drop('Unnamed: 0', axis=1, inplace=True)
desertores2018.head()

,AGNO,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,COD_DEPROV_RBD,NOM_DEPROV_RBD,...,FEC_NAC_ALU,EDAD_ALU,COD_REG_ALU,COD_COM_ALU,NOM_COM_ALU,COD_SEC,COD_ESPE,COD_RAMA,ENS,DESERTOR
0,2018,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,ARICA,...,200104,17,15,15101,ARICA,0,0,0,6,1
1,2018,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,ARICA,...,200205,16,15,15101,ARICA,0,0,0,6,1
2,2018,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,ARICA,...,200105,17,1,1401,POZO ALMONTE,0,0,0,6,1
3,2018,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,ARICA,...,200107,16,15,15101,ARICA,0,0,0,6,1
4,2018,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,ARICA,...,200008,17,15,15101,ARICA,0,0,0,6,1

In [53]:
# imprimir lista de nombre de variables
list(desertores2018.columns)

['AGNO',
 'RBD',
 'DGV_RBD',
 'NOM_RBD',
 'COD_REG_RBD',
 'COD_PRO_RBD',
 'COD_COM_RBD',
 'NOM_COM_RBD',
 'COD_DEPROV_RBD',
 'NOM_DEPROV_RBD',
 'COD_DEPE',
 'COD_DEPE2',
 'RURAL_RBD',
 'ESTADO_ESTAB',
 'COD_ENSE',
 'COD_ENSE2',
 'COD_ENSE3',
 'COD_GRADO',
 'COD_GRADO2',
 'LET_CUR',
 'COD_JOR',
 'COD_TIP_CUR',
 'COD_DES_CUR',
 'MRUN',
 'GEN_ALU',
 'FEC_NAC_ALU',
 'EDAD_ALU',
 'COD_REG_ALU',
 'COD_COM_ALU',
 'NOM_COM_ALU',
 'COD_SEC',
 'COD_ESPE',
 'COD_RAMA',
 'ENS',
 'DESERTOR']

In [54]:
# 'AGNO', 'RBD', 'DGV_RBD', 'NOM_RBD', 'COD_REG_RBD', 'COD_PRO_RBD', 'COD_COM_RBD', 'NOM_COM_RBD', 'COD_DEPROV_RBD', 'NOM_DEPROV_RBD', 'COD_DEPE', 'COD_DEPE2', 'RURAL_RBD', 'ESTADO_ESTAB', 'COD_ENSE', 'COD_ENSE2', 'COD_ENSE3', 'COD_GRADO', 'COD_GRADO2', 'LET_CUR', 'COD_JOR', 'COD_TIP_CUR', 'COD_DES_CUR', 'MRUN', 'GEN_ALU', 'COD_REG_ALU', 'COD_COM_ALU', 'NOM_COM_ALU', 'COD_SEC', 'COD_ESPE', 'COD_RAMA', 'ENS', 'DESERTOR'

In [55]:
# Convertir a string las variables: 'AGNO', 'RBD', 'DGV_RBD', 'NOM_RBD', 'COD_REG_RBD', 'COD_PRO_RBD', 'COD_COM_RBD', 'NOM_COM_RBD', 'COD_DEPROV_RBD', 'NOM_DEPROV_RBD', 'COD_DEPE', 'COD_DEPE2', 'RURAL_RBD', 'ESTADO_ESTAB', 'COD_ENSE', 'COD_ENSE2', 'COD_ENSE3', 'COD_GRADO', 'COD_GRADO2', 'LET_CUR', 'COD_JOR', 'COD_TIP_CUR', 'COD_DES_CUR', 'MRUN', 'GEN_ALU', 'COD_REG_ALU', 'COD_COM_ALU', 'NOM_COM_ALU', 'COD_SEC', 'COD_ESPE', 'COD_RAMA', 'ENS', 'DESERTOR'
desertores2018['AGNO'] = desertores2018['AGNO'].astype(str)
desertores2018['RBD'] = desertores2018['RBD'].astype(str)
desertores2018['DGV_RBD'] = desertores2018['DGV_RBD'].astype(str)
desertores2018['NOM_RBD'] = desertores2018['NOM_RBD'].astype(str)
desertores2018['COD_REG_RBD'] = desertores2018['COD_REG_RBD'].astype(str)
desertores2018['COD_PRO_RBD'] = desertores2018['COD_PRO_RBD'].astype(str)
desertores2018['COD_COM_RBD'] = desertores2018['COD_COM_RBD'].astype(str)
desertores2018['NOM_COM_RBD'] = desertores2018['NOM_COM_RBD'].astype(str)
desertores2018['COD_DEPROV_RBD'] = desertores2018['COD_DEPROV_RBD'].astype(str)
desertores2018['NOM_DEPROV_RBD'] = desertores2018['NOM_DEPROV_RBD'].astype(str)
desertores2018['COD_DEPE'] = desertores2018['COD_DEPE'].astype(str)
desertores2018['COD_DEPE2'] = desertores2018['COD_DEPE2'].astype(str)
desertores2018['RURAL_RBD'] = desertores2018['RURAL_RBD'].astype(str)
desertores2018['ESTADO_ESTAB'] = desertores2018['ESTADO_ESTAB'].astype(str)
desertores2018['COD_ENSE'] = desertores2018['COD_ENSE'].astype(str)
desertores2018['COD_ENSE2'] = desertores2018['COD_ENSE2'].astype(str)
desertores2018['COD_ENSE3'] = desertores2018['COD_ENSE3'].astype(str)
desertores2018['COD_GRADO'] = desertores2018['COD_GRADO'].astype(str)
desertores2018['COD_GRADO2'] = desertores2018['COD_GRADO2'].astype(str)
desertores2018['LET_CUR'] = desertores2018['LET_CUR'].astype(str)
desertores2018['COD_JOR'] = desertores2018['COD_JOR'].astype(str)
desertores2018['COD_TIP_CUR'] = desertores2018['COD_TIP_CUR'].astype(str)
desertores2018['COD_DES_CUR'] = desertores2018['COD_DES_CUR'].astype(str)
desertores2018['MRUN'] = desertores2018['MRUN'].astype(str)
desertores2018['GEN_ALU'] = desertores2018['GEN_ALU'].astype(str)
desertores2018['COD_REG_ALU'] = desertores2018['COD_REG_ALU'].astype(str)
desertores2018['COD_COM_ALU'] = desertores2018['COD_COM_ALU'].astype(str)
desertores2018['NOM_COM_ALU'] = desertores2018['NOM_COM_ALU'].astype(str)
desertores2018['COD_SEC'] = desertores2018['COD_SEC'].astype(str)
desertores2018['COD_ESPE'] = desertores2018['COD_ESPE'].astype(str)
desertores2018['COD_RAMA'] = desertores2018['COD_RAMA'].astype(str)
desertores2018['ENS'] = desertores2018['ENS'].astype(str)
desertores2018['DESERTOR'] = desertores2018['DESERTOR'].astype(str)

In [56]:
# imprimir valores unicos de EDAD_ALU
desertores2018['EDAD_ALU'].unique()

array(['17', '16', '15', '19', '18', '14', '6', '7', '8', '9', '10', '13',
       '11', '12', '5', '20', ' ', '21', '92', '3', '0', '35', '24', '23',
       '22', '34', '1', '46', '44', '25'], dtype=object)

In [57]:
# info desertores2018
desertores2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79547 entries, 0 to 79546
Data columns (total 35 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   AGNO            79547 non-null  object
 1   RBD             79547 non-null  object
 2   DGV_RBD         79547 non-null  object
 3   NOM_RBD         79547 non-null  object
 4   COD_REG_RBD     79547 non-null  object
 5   COD_PRO_RBD     79547 non-null  object
 6   COD_COM_RBD     79547 non-null  object
 7   NOM_COM_RBD     79547 non-null  object
 8   COD_DEPROV_RBD  79547 non-null  object
 9   NOM_DEPROV_RBD  79547 non-null  object
 10  COD_DEPE        79547 non-null  object
 11  COD_DEPE2       79547 non-null  object
 12  RURAL_RBD       79547 non-null  object
 13  ESTADO_ESTAB    79547 non-null  object
 14  COD_ENSE        79547 non-null  object
 15  COD_ENSE2       79547 non-null  object
 16  COD_ENSE3       79547 non-null  object
 17  COD_GRADO       79547 non-null  object
 18  COD_GRADO2      79547 non-null  object
 19  LET_CUR         79547 non-null  object
 20  COD_JOR         79547 non-null  object
 21  COD_TIP_CUR     79547 non-null  object
 22  COD_DES_CUR     79547 non-null  object
 23  MRUN            79547 non-null  object
 24  GEN_ALU         79547 non-null  object
 25  FEC_NAC_ALU     79547 non-null  int64
 26  EDAD_ALU        79547 non-null  object
 27  COD_REG_ALU     79547 non-null  object
 28  COD_COM_ALU     79547 non-null  object
 29  NOM_COM_ALU     79547 non-null  object
 30  COD_SEC         79547 non-null  object
 31  COD_ESPE        79547 non-null  object
 32  COD_RAMA        79547 non-null  object
 33  ENS             79547 non-null  object
 34  DESERTOR        79547 non-null  object
dtypes: int64(1), object(34)
memory usage: 21.2+ MB

In [58]:
# Kprototypes de desertores2018

from kmodes.kprototypes import KPrototypes
from sklearn.preprocessing import StandardScaler

# Crear matriz de datos
data = desertores2018.iloc[:, 1:].values

# Crear matriz de datos categóricos
data_cat = desertores2018.iloc[:, 1:5].values

# Crear matriz de datos numéricos
data_num = desertores2018.iloc[:, 5:].values

# Crear objeto de la clase StandardScaler
sc = StandardScaler()

# Ajustar y transformar los datos numéricos
data_num = sc.fit_transform(data_num)

# Crear objeto de la clase KPrototypes
kproto = KPrototypes(n_clusters=5, init='Cao')

# Ajustar el modelo a los datos
kproto.fit(data, categorical=[0, 1, 2, 3])

# Obtener las etiquetas de los clusters
clusters = kproto.labels_

# Obtener los centroides
centroids = kproto.cluster_centroids_

# Visualizar los centroides
print(centroids)

ValueError: could not convert string to float: 'ARICA'