In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
m2018 = pd.read_csv('data/matriculas/2018/m2018.csv', sep=';')
m2019 = pd.read_csv('data/matriculas/2019/m2019.csv', sep=';')
m2020 = pd.read_csv('data/matriculas/2020/m2020.CSV', sep=';')
m2021 = pd.read_csv('data/matriculas/2021/m2021.csv', sep=';')
m2022 = pd.read_csv('data/matriculas/2022/m2022.csv', sep=';')
m2023 = pd.read_csv('data/matriculas/2023/20230906_Matrícula_unica_2023_20230430_WEB.csv', sep=';')

/var/folders/v5/8__wxdkj3j713bygpr1tsw_80000gn/T/ipykernel_82815/2602221587.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  m2018 = pd.read_csv('data/matriculas/2018/m2018.csv', sep=';')
/var/folders/v5/8__wxdkj3j713bygpr1tsw_80000gn/T/ipykernel_82815/2602221587.py:2: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  m2019 = pd.read_csv('data/matriculas/2019/m2019.csv', sep=';')
/var/folders/v5/8__wxdkj3j713bygpr1tsw_80000gn/T/ipykernel_82815/2602221587.py:3: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  m2020 = pd.read_csv('data/matriculas/2020/m2020.CSV', sep=';')
/var/folders/v5/8__wxdkj3j713bygpr1tsw_80000gn/T/ipykernel_82815/2602221587.py:4: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  m2021 = pd.read_csv('data/matriculas/2021/m2021.csv', sep=';')
/var/folders/v5/8__wxdkj3j713bygpr1tsw_80000gn/T/ipykernel_82815/2602221587.py:5: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  m2022 = pd.read_csv('data/matriculas/2022/m2022.csv', sep=';')
/var/folders/v5/8__wxdkj3j713bygpr1tsw_80000gn/T/ipykernel_82815/2602221587.py:6: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  m2023 = pd.read_csv('data/matriculas/2023/20230906_Matrícula_unica_2023_20230430_WEB.csv', sep=';')

In [3]:
from analisis import desertores

In [5]:
desertores(m2018, m2019)

/Users/davidlealolivares/Library/Mobile Documents/com~apple~CloudDocs/Talleres y ayudantias Diplomado DataScience UC2023/desercion-escolar/analisis.py:13: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  desertores = desertores[~((desertores['COD_GRADO'] == 4) & (df_anterior['COD_ENSE2'].isin([5, 7])))]
/Users/davidlealolivares/Library/Mobile Documents/com~apple~CloudDocs/Talleres y ayudantias Diplomado DataScience UC2023/desercion-escolar/analisis.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  estudiantes_regulares['DESERTOR'] = 0

In [7]:
# Importar desertores2018
desertores2018 = pd.read_csv('data/tablas/desertores2018.csv')
desertores2018.head()

,Unnamed: 0,AGNO,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,COD_DEPROV_RBD,...,FEC_NAC_ALU,EDAD_ALU,COD_REG_ALU,COD_COM_ALU,NOM_COM_ALU,COD_SEC,COD_ESPE,COD_RAMA,ENS,DESERTOR
0,15,2018,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,...,200104,17,15,15101,ARICA,0,0,0,6,1
1,40,2018,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,...,200205,16,15,15101,ARICA,0,0,0,6,1
2,44,2018,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,...,200105,17,1,1401,POZO ALMONTE,0,0,0,6,1
3,46,2018,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,...,200107,16,15,15101,ARICA,0,0,0,6,1
4,47,2018,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,...,200008,17,15,15101,ARICA,0,0,0,6,1

In [8]:
# Importar regulares2018
regulares2018 = pd.read_csv('data/tablas/regulares2018.csv')
regulares2018.head()

/var/folders/v5/8__wxdkj3j713bygpr1tsw_80000gn/T/ipykernel_82815/4044017080.py:2: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  regulares2018 = pd.read_csv('data/tablas/regulares2018.csv')

,Unnamed: 0,AGNO,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,FEC_NAC_ALU,EDAD_ALU,COD_REG_ALU,COD_COM_ALU,NOM_COM_ALU,COD_SEC,COD_ESPE,COD_RAMA,ENS,DESERTOR
0,15,2019,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,200505,14,15,15101,ARICA,0,0,0,6,0
1,16,2019,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,200301,16,15,15101,ARICA,0,0,0,6,0
2,18,2019,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,200408,14,15,15101,ARICA,0,0,0,6,0
3,19,2019,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,200307,15,15,15201,PUTRE,0,0,0,6,0
4,20,2019,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,200307,15,15,15101,ARICA,0,0,0,6,0

In [ ]:
# Kprototypes de desertores2018

from kmodes.kprototypes import KPrototypes
from sklearn.preprocessing import StandardScaler

# Crear matriz de datos
data = desertores2018.iloc[:, 1:].values

# Crear matriz de datos categóricos
data_cat = desertores2018.iloc[:, 1:5].values

# Crear matriz de datos numéricos
data_num = desertores2018.iloc[:, 5:].values

# Crear objeto de la clase StandardScaler
sc = StandardScaler()

# Ajustar y transformar los datos numéricos
data_num = sc.fit_transform(data_num)

# Crear objeto de la clase KPrototypes
kproto = KPrototypes(n_clusters=5, init='Cao')

# Ajustar el modelo a los datos
kproto.fit(data, categorical=[0, 1, 2, 3])

# Obtener las etiquetas de los clusters
clusters = kproto.labels_

# Obtener los centroides
centroids = kproto.cluster_centroids_

# Visualizar los centroides
print(centroids)